{% extends 'app/base.html' %}
{% load static %}
{% block title %}Page d'acceuil
{% endblock title %}
{% block banner-slider %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item  carousel-img active">
			<div class="img" style="background-image: url('{% static 'app/images/banner/img7.webp' %}');"></div>
		</div>
		<div class="carousel-item">
			<div class="img" style="background-image: url('{% static 'app/images/banner/img4.webp' %}');"></div>
		</div>
		<div class="carousel-item">
			<div class="img" style="background-image: url('{% static 'app/images/banner/img5.webp' %}');"></div>
		</div>
		<div class="carousel-item">
			<div class="img" style="background-image: url('{% static 'app/images/banner/img9.webp' %}');"></div>
		</div>
	</div>
</div>
{% endblock banner-slider %}

{% block information %}
	<div class="container">
		<div class="row bg-light text-center p-5 text-black border-bottom shadow">
			<h1>Nouvelle co' by CocoDeParis</h1>
			<small class="fs-5">
				Une boutique pour femmes au top des dernières tendances
			</small>
		</div>
	</div>
{% endblock information %}
{% block main-content %}
	<div class="container">
		<h2 class="text-center">Découvrez nos produits</h2>
		<br/><br/>
		<div class="row container">
			<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="
			animation-duration: 1s;
			animation-delay: 0.6s;
			animation-name: none;
			">
				<div class="shoessec clothes acc">
					<a href="{% url 'category' 'lun' %}">
						<div class="shoescont text-center">
							<img src="{% static 'app/images/product/187.webp' %}" class="img-responsive center-block" alt=""/>
							<p class="shoespro">Lunettes</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="
			animation-duration: 1s;
			animation-delay: 0.6s;
			animation-name: none;
			">
				<div class="shoessec clothes shoes">
					<a href="{% url 'category' 'chau' %}">
						<div class="shoescont text-center">
							<img src="{% static 'app/images/product/97.webp' %}" class="img-responsive center-block" alt=""/>
							<p class="shoespro">Chaussures</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="
				animation-duration: 1s;
				animation-delay: 0.6s;
				animation-name: none;
				">
				<div class="shoessec clothes clothes">
					<a href="{% url 'category' 'rob' %}">
						<div class="shoescont text-center">
							<img src="{% static 'app/images/product/14.webp' %}" class="img-responsive center-block" alt=""/>
							<p class="shoespro">Robes</p>
						</div>
					</a>
				</div>
			</div>
		</div>

		<br/><br/>

		<div class="row container">
			<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="
			animation-duration: 1s;
			animation-delay: 0.6s;
			animation-name: none;
			">
				<div class="shoessec clothes acc">
					<a href="{% url 'category' 'mech' %}">
						<div class="shoescont text-center">
							<img src="{% static 'app/images/product/178.webp' %}" class="img-responsive center-block" alt=""/>
							<p class="shoespro">Mèches</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="
			animation-duration: 1s;
			animation-delay: 0.6s;
			animation-name: none;
			">
				<div class="shoessec clothes clothes">
					<a href="{% url 'category' 'combi' %}">
						<div class="shoescont text-center">
							<img src="{% static 'app/images/product/106.webp' %}" class="img-responsive center-block" alt=""/>
							<p class="shoespro">Combinaisons</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="
			animation-duration: 1s;
			animation-delay: 0.6s;
			animation-name: none;
			">
				<div class="shoessec clothes shoes">
					<a href="{% url 'category' 'bc' %}">
						<div class="shoescont text-center">
							<img src="{% static 'app/images/product/188.webp' %}" class="img-responsive center-block" alt=""/>
							<p class="shoespro">Beauté</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
{% endblock main-content %}
